{% load static wagtailimages_tags %}
{% for tool in tools %}
{% image tool.image original as img %}
    <div class="col-lg-4 tools-item">
            <div class="tools-item--img">
                {% if tool.image %}
                <img src="{{ img.url }}" alt="{{ img.alt }}">
                {% endif %}
            </div>
            <div class="tools-item--info text-center">
                <i class="{{ tool.icon }}"></i>
                <h3>{{ tool.title }}</h3>
            </div>
            <div class="cover-hover-color" style="background-color: {{ tool.background_color }};"></div>
    </div><!-- /.tools-item -->
{% endfor %}