{% extends "base.html" %}
{% load static wagtailcore_tags  %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Mot de passe requis</h1>
            <p>Vous avez besoin d'un mot de passe pour accéder à cette page.</p>
            <p>{% if user.is_authenticated %}Pour continuer, veuillez vous connecter avec un compte qui a accès.{% endif %}</p>
            <form action="{{ action_url }}" method="POST">
                {% csrf_token %}

                {{ form.non_field_errors }}

                <div>
                    {{ form.password.errors }}
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>

                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <input type="submit" value="Continue" />
            </form>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Mot de passe requis</title>
    </head>
    <body>
        
    </body>
</html>